{{- if eq .chezmoi.hostname "msi-is-bad" -}}
{{-   include "dot_config/DankMaterialShell/.settings.json.msi-is-bad" -}}
{{- else if eq .chezmoi.hostname "chadtop" -}}
{{-   include "dot_config/DankMaterialShell/.settings.json.chadtop" -}}
{{- end -}}
